# Python
__pycache__/
*.py[cod]
*.pyo
*.env
*.venv
.venv/
.env/

# Build / packaging artifacts
build/
dist/
*.egg-info/
.eggs/

# Test artifacts
tests/tmp/

# System
.DS_Store

# IDEs
.vscode/
.idea/

